body {
    font-family: 'Inter', sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #01142b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .contato {
    position: absolute;
    color: #818181;
    font-size: 2em;
    left: 10%;
    
  }
  .linkedin {
    width: 9rem;
    top: 15%; 
    left: 25%;
    text-decoration: none;
    font-size: 1.2em;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .github {
    width: 9rem;
    top: 19%;
    left: 25%;
    text-decoration: none;
    font-size: 1.2em;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .instagram {
    width: 9rem;
    top: 23%;
    left: 25%;
    text-decoration: none;
    font-size: 1.2em;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .v2 {
    font-size: 2em;
    top: 50%;
    position: absolute;
    color: #818181;
    font-size: 2em;
    left: 10%;
  }
  .outro-site {
    top: 58%;
    left: 30%;
    display: block;

  }
  .outro-site img {
    width: 60%;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    display: flex;
    top: 2%;
    left: 85%;
    text-decoration: none;
    color: #818181;
    font-size: 36px;
    
  }
  
  .menu{
    position: absolute;
    top: 1%;
    left: 1%;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }